body {
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: normal;
    
}
header {
    text-align: right;
    padding: 5px 0;
}
header a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

header img{
    vertical-align: middle;
}

.main img {
    display: block;
    width: 272px;
    margin: 100px auto 0;
}
